<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785627011131-b80circlsvsmkf0j7orulov60b1v53ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785627011131-b80circlsvsmkf0j7orulov60b1v53ie</string>
	<key>API_KEY</key>
	<string>AIzaSyDEvxbCm3RYvIT1xn-ovlSLNT3_QLNqio8</string>
	<key>GCM_SENDER_ID</key>
	<string>785627011131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-64acc</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-64acc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785627011131:ios:b35b388c8694770c68a41e</string>
</dict>
</plist>